<h1>Listing rmas</h1>

<% form_tag rmas_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table class="table-striped table-bordered table-condensed">
  <tr>
    <th>Title</th>
    <th>Dailycount</th>
    <th>Mtd</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rmas.each do |rma| %>
  <tr>
    <td><%= rma.title %></td>
    <td><%= rma.dailycount %></td>
    <td><%= rma.mtd %></td>
    <td><%= link_to 'Show', rma %></td>
    <td><%= link_to 'Edit', edit_rma_path(rma) %></td>
    <td><%= link_to 'Destroy', rma, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rma', new_rma_path %>
