<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @rma.title %>
</p>

<p>
  <b>Dailycount:</b>
  <%= @rma.dailycount %>
</p>

<p>
  <b>Mtd:</b>
  <%= @rma.mtd %>
</p>


<%= link_to 'Edit', edit_rma_path(@rma) %> |
<%= link_to 'Back', rmas_path %>
